*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(221, 250, 104);
}

.container{
  background-color: white;
  width: 90vmin;
  padding: 50px 30px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7,20,35,0.2);
}

.header{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  gap: 15px;
}

button{
  border: none;
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  outline: none;
  background-color: #ffffff;
  color: #020929;
  cursor: pointer;
}

select{
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
  cursor: pointer;
}

.option label,
.option select{
  font-family: "Poppins",sans-serif;
}

.input-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="color"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff,0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch{
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff,0 0 0 3px #020929;
}

#text-input{
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #dddddd;
  height: 50vh;
}